<div class="content">
    <header>
        <div class="head">
            <div class="logo">
                <img src="/Images/logo.png" alt="Logo de la tienda">
            </div>
            <div class="titulo">
                <h3>Lumi Store</h3>
            </div>
            <div class="acciones">
                <div class="carrito">
                    @if (selectedProduct) {
                        <p-button icon="pi pi-shopping-cart" (onClick)="goCarrito()">
                            @if (selectedProduct.length > 0) {
                            <div class="badge">
                                <p-badge [value]="selectedProduct.length" severity="danger" />
                            </div>
                            }
                        </p-button>
                    }

                </div>
                <div class="usuario">
                    <p-button icon="pi pi-user" (click)="showUserDialog()"/>

                </div>

            <p-dialog header="Usuario" [(visible)]="displayUserDialog" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
                <div class="p-fluid">
                    <div class="p-field">
                        <label for="nombreUsuario">Nombre de Usuario</label>
                        <input id="nombreUsuario" type="text" pInputText [(ngModel)]="usuario.nombreUsuario" />
                    </div>
                    <div class="p-field">
                        <label for="correo">Correo</label>
                        <input id="correo" type="email" pInputText [(ngModel)]="usuario.correo" />
                    </div>
                    <div class="p-field">
                        <label for="contraseña">Contraseña</label>
                        <input id="contraseña" type="password" pInputText [(ngModel)]="usuario.contrasena" />
                    </div>
                </div>
                <p-footer>
                    <p-button label="Guardar" icon="pi pi-check" (click)="guardarUsuario()"></p-button>
                    <p-button label="Cancelar" icon="pi pi-times" (click)="displayUserDialog=false"></p-button>
                </p-footer>
            </p-dialog>
            </div>
        </div>
    </header>
</div>

<main>

    <div class="carrusel">

        <p-carousel [value]="banner" [numVisible]="3" [numScroll]="1" [circular]="true" autoplayInterval="3000"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-ban pTemplate="item">
                <div class="border-1 surface-border border-round m-2 p-3">
                    <div class="mb-3">
                        <div class="relative mx-auto center-image">
                            <img  src="{{ ban.image }}" class="w-full border-round imagen-recorte" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
    </div>

    <div class="add-product">
        <p-button icon="pi pi-plus" label="Añadir Producto" class="p-button-rounded p-button-primary" (click)="agregarNuevoProducto()"></p-button>
    </div>

    <div class="products">
        @for (producto of productos; track $index) {
        <div class="tarjeta">
            <div class="nombre">
                <h3>{{producto.titulo}}</h3>
                <div class="eliminar-producto">
                    <p-button icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="eliminarProducto(producto)"></p-button>
                </div>
            </div>
            <div class="images">
                <!-- <img src="/Images/Productos/1.jpg" alt=""> -->
                 @if (producto.imagenes) {
                     <img src="data:image/jpeg;base64,{{producto.imagenes[0]}}" alt="">
                     <img src="{{producto.imagenes[0]}}" alt="">
                 }
            </div>
            <div class="descripcion">
                <p>{{producto.descripcion}}</p>
            </div>
            <div class="p-tarjeta">

                <div class="precio">
                    <p>{{producto.precio | currency:'USD':'symbol':'1.0-0' }}</p>
                </div>

                <div class="add-cart">
                    <p-button  icon="pi pi-shopping-cart" class="p-button-rounded p-button-success"
                        (click)="agregarCarrito(producto)"></p-button>
                </div>
            </div>
        </div>
        }
    </div>

</main>
<footer></footer>

<p-dialog header="Añadir Producto" [(visible)]="displayDialog" [modal]="true" [closable]="false" [style]="{width: '50vw'}">
    <div class="p-fluid">
        <div class="p-field">
            <label for="titulo">Título</label>
            <input id="titulo" type="text" pInputText [(ngModel)]="nuevoProducto.titulo" />

        </div>
        <div class="p-field">
            <label for="precio">Precio</label>
            <p-inputNumber id="precio" [(ngModel)]="nuevoProducto.precio" mode="currency" currency="USD"></p-inputNumber>
        </div>
        <div class="p-field">
            <label for="descripcion">Descripción</label>
            <textarea id="descripcion" pInputTextarea [(ngModel)]="nuevoProducto.descripcion"></textarea>

        </div>
        <div class="p-field">
            <label for="imagenes">Imagen</label>
            <p-fileUpload mode="basic" 
            chooseLabel="Subir Imagen" 
            chooseIcon="pi pi-upload"
            accept="image/*" 
            maxFileSize="1000000" 
            (onSelect)="onUpload($event)" ></p-fileUpload>
        </div>
    </div>
    <p-footer>
        <p-button label="Guardar" icon="pi pi-check" (click)="guardarProducto()"></p-button>
        <p-button label="Cancelar" icon="pi pi-times" (click)="displayDialog=false"></p-button>
    </p-footer>
</p-dialog>